.search-bar{
    height: 30px;
    width: 200px;
    outline: none;
    border: none;
    background-color: transparent;
}
.search{
    border: 1px solid rgba(0, 0, 0, 0.551);
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.43);
}
