.series-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .series {
    display: flex;
    overflow: hidden;
  }
  
  .box {

    width: 200px; /* Adjust the width as per your design */
    height: 150px; /* Adjust the height as per your design */
    margin: 10px;
    transition: transform 0.5s ease-in-out;
    border: 2px solid black;
  }
  
  .active {
    transform: scale(1.1); /* You can add more styles for the active box */
  }
  